<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CsvTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <root>
      <appender-ref ref="RollingFileAppenderAppwide"/>
    </root>
    <appender name="RollingFileAppenderAppwide" type="log4net.Appender.RollingFileAppender">
      <threshold value="Warning"/>
      <file value="CSVQuickViewer.log"/>
      <appendToFile value="true"/>
      <preserveLogFileNameExtension value="true"/>
      <rollingStyle value="Size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="500KB"/>
      <staticLogFileName value="true"/>
      <layout>
        <conversionPattern value="%d [%t] %-5p - %m%n"/>
        <header type="log4net.Util.PatternString" value="[START]%newline"/>
        <footer type="log4net.Util.PatternString" value="[END]%newline"/>
      </layout>
    </appender>
  </log4net>
  <userSettings>
    <CsvTools.Properties.Settings>
      <setting name="WindowMaximized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WindowPosition" serializeAs="String">
        <value>0, 0, 0, 0</value>
      </setting>
      <setting name="WindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
    </CsvTools.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
</configuration>
