<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CsvTools.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <CsvTools.Properties.Settings>
      <setting name="SampleValues" serializeAs="String">
        <value>250</value>
      </setting>
      <setting name="CheckedRecords" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="DetectGUID" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DetectDateTime" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DetectBoolean" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DectectNumbers" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GuessDelimiter" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GuessCodePage" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GuessStartRow" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GuessHasHeader" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DetectFileChanges" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WarnNBSP" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WarnUnknowCharater" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowProgress" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WarnDelimiterInValue" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WarnQuotes" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WarnEmptyTailingColumns" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SkipEmptyLines" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AlternateQuoting" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DisplayStartLineNo" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TrimEndInFilter" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ExcelSerialDateTime" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DectectPercentage" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WarnLineFeed" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MenuDown" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="NumWarnings" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="TreatUnknowCharaterAsSpace" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TreatNBSPAsSpace" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IgnoreIdColums" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CheckNamedDates" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MinSamplesForIntDate" serializeAs="String">
        <value>4</value>
      </setting>
      <setting name="WindowMaximized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WindowPosition" serializeAs="String">
        <value>0, 0, 0, 0</value>
      </setting>
      <setting name="WindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="UseFileSettings" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DateParts" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DefaultPassphrase" serializeAs="String">
        <value />
      </setting>
    </CsvTools.Properties.Settings>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>