<nlog xmlns="http://www.nlog-project.org/schemas/NLog.mono2.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <targets async="true">
    <target name="csv" xsi:type="File"  fileName="${basedir}/CSVQuickViewer.log"  archiveAboveSize="262144" maxArchiveDays="2" keepFileOpen="true">
      <layout xsi:type="CsvLayout" delimiter="tab" withHeader="true">
        <column name="time" layout="${longdate}" quoting="Nothing"/>
        <column name="level" layout="${level:upperCase=true}" quoting="Nothing"/>
        <column name="message" layout="${message}" quoting="All"/>
      </layout>
    </target>

    <target name="jsonFile" xsi:type="File" fileName="${basedir}/CSVQuickViewer.json"   >
      <layout xsi:type="JsonLayout">
        <attribute name="time" layout="${longdate}" />
        <attribute name="level" layout="${level:upperCase=true}"/>
        <attribute name="message" layout="${message}" />
        <attribute name="eventProperties" encode="false" >
          <layout type='JsonLayout' includeAllProperties="true"  maxRecursionLimit="2"/>
        </attribute>
        <attribute name='innerException' encode='false' RenderEmptyObject='false'  >
          <layout type='JsonLayout'>
            <attribute name='type' layout='${exception:format=:innerFormat=Type:MaxInnerExceptionLevel=1:InnerExceptionSeparator=}' />
            <attribute name='exception' layout='${exception:format=:innerFormat=Message:MaxInnerExceptionLevel=1:InnerExceptionSeparator=}' />
          </layout>
        </attribute>
      </layout>
    </target>

    <target name="fileAsException" xsi:type="FilteringWrapper" condition="length('${exception}')>0">
      <target xsi:type="File"  fileName="${basedir}/Exceptions.log"
                      layout="${longdate} ${level:upperCase=true} ${message} 
                    (${callsite:includSourcePath=true}) (${stacktrace:topFrames=5})  
                    ${exception:format=ToString}" />
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="warning" writeTo="fileAsException" />
    <logger name="*" minlevel="debug" writeTo="csv,jsonFile" />
  </rules>
</nlog>