<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <?define ProductVersion="!(bind.FileVersion.ExecutableID)" ?>
  <?define Manufacturer="Raphael Nöldner" ?>
  <?define Application="CSV Quick Viewer" ?>
  <?define ApplicationShort="CSVQuickViewer.Net6" ?>
  <?define CSVQuickViewer.ProjectDir= "..\Application"?>
  <?define CSVQuickViewer.TargetPath= "$(var.CSVQuickViewer.ProjectDir)\bin\Release\net6.0-windows"?>

  <Product Id="*" Name="$(var.Application) $(var.ProductVersion) .Net6" Language="1033" Version="$(var.ProductVersion)" Manufacturer="$(var.Manufacturer)"
           UpgradeCode="342F893E-A1DB-43C6-94FF-D2FED20CDEED" Codepage="utf-8">
    <Package Id="*" InstallerVersion="310" Compressed="yes" InstallScope="perUser" InstallPrivileges="limited" />
    <WixVariable Id="WixUILicenseRtf" Value="lgpl.rtf" />

    <Media Id="1" Cabinet="simple.cab" EmbedCab="yes" CompressionLevel="medium" />
    <MajorUpgrade AllowDowngrades="yes" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="AppDataFolder">
        <Directory Id="AppRootDirectory" Name="CSVQuickViewer">
          <Component Id="DefaultSetting" DiskId="1" Guid="AE676798-A9E3-45F5-A9C1-E44B240F54C9">
            <CreateFolder />
            <RemoveFile Id="PurgeAppFolder" Name="*.*" On="uninstall" />
            <RemoveFolder Id="RemoveAppRootDirectory" On="uninstall" />
            <!-- registry entry to be used as key path -->
            <RegistryValue Root="HKCU" Key="Software\$(var.ApplicationShort)\DefaultSetting" Name="installed" Type="integer" Value="1" KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
      <Directory Id="LocalAppDataFolder" Name="[AppData]">
        <Directory Id="PRODUCTDIR" Name="$(var.ApplicationShort)">
          <Component Id="EXECUTABLE" DiskId="1" Guid="AE676698-99E3-45F5-A9C1-E44B240F54C9">
            <File Id="ExecutableID" Name="CsvQuickViewer.exe" Source="$(var.CSVQuickViewer.TargetPath)\CsvQuickViewer.exe" />
            <File Id="ExecutableDll" Name="CSVQuickViewer.dll" Source="$(var.CSVQuickViewer.TargetPath)\CSVQuickViewer.dll" />
            <File Id="ExecutableConfig" Name="CSVQuickViewer.dll.config" Source="$(var.CSVQuickViewer.TargetPath)\CSVQuickViewer.dll.config" />
            <File Id="ExecutableDeps" Name="CSVQuickViewer.deps.json" Source="$(var.CSVQuickViewer.TargetPath)\CSVQuickViewer.deps.json" />
            <File Id="ExecutableRuntimeconfig" Name="CSVQuickViewer.runtimeconfig.json" Source="$(var.CSVQuickViewer.TargetPath)\CSVQuickViewer.runtimeconfig.json" />
            <File Id="Ben.Demystifier.dll" Name="Ben.Demystifier.dll" Source="$(var.CSVQuickViewer.TargetPath)\Ben.Demystifier.dll" />
<File Id="CsvTools.ClassLibraryCSV.dll" Name="CsvTools.ClassLibraryCSV.dll" Source="$(var.CSVQuickViewer.TargetPath)\CsvTools.ClassLibraryCSV.dll" />
<File Id="CsvTools.WinFormControls.dll" Name="CsvTools.WinFormControls.dll" Source="$(var.CSVQuickViewer.TargetPath)\CsvTools.WinFormControls.dll" />
<File Id="FastColoredTextBox.dll" Name="FastColoredTextBox.dll" Source="$(var.CSVQuickViewer.TargetPath)\FastColoredTextBox.dll" />
<File Id="ICSharpCode.SharpZipLib.dll" Name="ICSharpCode.SharpZipLib.dll" Source="$(var.CSVQuickViewer.TargetPath)\ICSharpCode.SharpZipLib.dll" />
<File Id="Markdown.dll" Name="Markdown.dll" Source="$(var.CSVQuickViewer.TargetPath)\Markdown.dll" />
<File Id="Microsoft.Extensions.DependencyInjection.Abstractions.dll" Name="Microsoft.Extensions.DependencyInjection.Abstractions.dll" Source="$(var.CSVQuickViewer.TargetPath)\Microsoft.Extensions.DependencyInjection.Abstractions.dll" />
<File Id="Microsoft.Extensions.Logging.dll" Name="Microsoft.Extensions.Logging.dll" Source="$(var.CSVQuickViewer.TargetPath)\Microsoft.Extensions.Logging.dll" />
<File Id="Microsoft.Extensions.Logging.Abstractions.dll" Name="Microsoft.Extensions.Logging.Abstractions.dll" Source="$(var.CSVQuickViewer.TargetPath)\Microsoft.Extensions.Logging.Abstractions.dll" />
<File Id="Microsoft.Extensions.Options.dll" Name="Microsoft.Extensions.Options.dll" Source="$(var.CSVQuickViewer.TargetPath)\Microsoft.Extensions.Options.dll" />
<File Id="Microsoft.Extensions.Primitives.dll" Name="Microsoft.Extensions.Primitives.dll" Source="$(var.CSVQuickViewer.TargetPath)\Microsoft.Extensions.Primitives.dll" />
<File Id="Microsoft.WindowsAPICodePack.dll" Name="Microsoft.WindowsAPICodePack.dll" Source="$(var.CSVQuickViewer.TargetPath)\Microsoft.WindowsAPICodePack.dll" />
<File Id="Microsoft.WindowsAPICodePack.Shell.dll" Name="Microsoft.WindowsAPICodePack.Shell.dll" Source="$(var.CSVQuickViewer.TargetPath)\Microsoft.WindowsAPICodePack.Shell.dll" />
<File Id="Newtonsoft.Json.dll" Name="Newtonsoft.Json.dll" Source="$(var.CSVQuickViewer.TargetPath)\Newtonsoft.Json.dll" />
<File Id="Serilog.dll" Name="Serilog.dll" Source="$(var.CSVQuickViewer.TargetPath)\Serilog.dll" />
<File Id="Serilog.Extensions.Logging.dll" Name="Serilog.Extensions.Logging.dll" Source="$(var.CSVQuickViewer.TargetPath)\Serilog.Extensions.Logging.dll" />
<File Id="Serilog.Sinks.File.dll" Name="Serilog.Sinks.File.dll" Source="$(var.CSVQuickViewer.TargetPath)\Serilog.Sinks.File.dll" />
<File Id="TimeZoneConverter.dll" Name="TimeZoneConverter.dll" Source="$(var.CSVQuickViewer.TargetPath)\TimeZoneConverter.dll" />
<File Id="UtfUnknown.dll" Name="UtfUnknown.dll" Source="$(var.CSVQuickViewer.TargetPath)\UtfUnknown.dll" />



            <File Id="LICENSE" Name="LICENSE" Source="$(var.CSVQuickViewer.ProjectDir)\LICENSE" />
            <File Id="README.TXT" Name="README.txt" Source="$(var.CSVQuickViewer.ProjectDir)\README.txt" />
            <RemoveFolder Id="PRODUCTDIR" On="uninstall" />
            <RegistryValue Root="HKCU" Key="Software\CsvQuickViewer.exe" Name="installed" Type="integer" Value="1" KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ProgramMenuDir" Name="$(var.Application)">
          <Component Id="StartMenintcuts" Guid="*">
            <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
            <Shortcut Id="ApplicationStartMenintcut" Name="$(var.Application)" Target="[PRODUCTDIR]CsvQuickViewer.exe" Icon="IconID" IconIndex="0" />
            <Shortcut Id="UninstallProduct" Name="Uninstall $(var.Application)" Description="Uninstalls the application" Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]" />
            <RegistryValue Root="HKCU" Key="Software\CsvQuickViewer.exe\StartMenu" Name="installed" Type="integer" Value="1" KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
      <Directory Id="DesktopFolder">
        <Component Id="DesktopShortcut"  Guid="AB97E0FA-9BD7-43FC-BD5E-364B3713C1AF">
          <Shortcut Id="DeskShortcutID" Directory="DesktopFolder" Name="$(var.Application)" Target="[PRODUCTDIR]CsvQuickViewer.exe" Icon="IconID" IconIndex="0" />
          <!-- registry entry to be used as key path -->
          <RegistryValue Root="HKCU" Key="Software\CsvQuickViewer.exe\DesktopShortcut" Name="installed" Type="integer" Value="1" KeyPath="yes" />
        </Component>
      </Directory>
      <Component Id="OpenWith" Guid="*">
        <!-- registry entry to be used as key path -->
        <RegistryValue Root="HKCU" Key="Software\CsvQuickViewer.exe\OpenWith" Name="installed" Type="integer" Value="1" KeyPath="yes" />

        <!-- Registering File Types  -->
        <RegistryKey Root="HKCR" Key="SOFTWARE\Classes\.txt">
          <RegistryValue Key="Content Type"  Value="text/plain" Type="string" />
          <RegistryValue Key="PerceivedType"  Value="text" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKCR" Key="SOFTWARE\Classes\.text">
          <RegistryValue Key="Content Type"  Value="text/plain" Type="string" />
          <RegistryValue Key="PerceivedType"  Value="text" Type="string" />
        </RegistryKey>

        <RegistryValue Root="HKCU" Key="SOFTWARE\Classes\.tab"  Value="CsvQuickViewer.Document" Type="string" />
        <RegistryValue Root="HKCU" Key="SOFTWARE\Classes\.tab\PerceivedType"  Value="text" Type="string" />
        <RegistryValue Root="HKCU" Key="SOFTWARE\Classes\.tab\Content Type"  Value="text/tab-separated-values" Type="string" />

        <RegistryValue Root="HKCU" Key="SOFTWARE\Classes\.tsv"  Value="CsvQuickViewer.Document" Type="string" />
        <RegistryValue Root="HKCU" Key="SOFTWARE\Classes\.tsv\Content Type"  Value="text/tab-separated-values" Type="string" />
        <RegistryValue Root="HKCU" Key="SOFTWARE\Classes\.tsv\PerceivedType"  Value="text" Type="string" />

        <RegistryValue Root="HKCU" Key="SOFTWARE\Classes\.csv"  Value="CsvQuickViewer.Document" Type="string" />
        <RegistryValue Root="HKCU" Key="SOFTWARE\Classes\.csv\Content Type"  Value="text/csv" Type="string" />
        <RegistryValue Root="HKCU" Key="SOFTWARE\Classes\.csv\PerceivedType"  Value="text" Type="string" />

        <RegistryKey Root="HKCR" Key="CsvQuickViewer.Document" ForceDeleteOnUninstall="yes">
          <RegistryValue Value="Delimited Value Text File" Type="string" />
          <!-- <RegistryValue Key="Icon" Value="&quot;[PRODUCTDIR]CsvQuickViewer.exe&quot;,1" Type="string" />-->
          <RegistryValue Key="shell\Open\command" Value="&quot;[PRODUCTDIR]CsvQuickViewer.exe&quot; &quot;%1&quot;" Type="string" />
        </RegistryKey>

        <!-- support Start,Run -> "CsvQuickViewer.exe" -->
        <RegistryKey Root="HKCU" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\CsvQuickViewer.exe" ForceDeleteOnUninstall="yes">
          <RegistryValue Value="[PRODUCTDIR]CsvQuickViewer.exe" Type="string" />
        </RegistryKey>

        <RegistryKey Root="HKCR" Key="Applications\CsvQuickViewer.exe" ForceDeleteOnUninstall="yes">
          <RegistryValue Key="FriendlyAppName" Value="$(var.Application)" Type="string" />
          <RegistryValue Key="SupportedTypes" Value=".csv" Type="string" />
          <RegistryValue Key="shell\Open\command" Value="&quot;[PRODUCTDIR]CsvQuickViewer.exe&quot; &quot;%1&quot;" Type="string" />
        </RegistryKey>

        <!-- Add an 'View with ...'  -->
        <RegistryKey Root="HKCU" Key="SOFTWARE\Classes\SystemFileAssociations\text\shell\View with $(var.Application)" ForceDeleteOnUninstall="yes">
          <RegistryValue Value="View with $(var.Application)" Type="string" />
          <RegistryValue Key="command" Value="&quot;[PRODUCTDIR]CsvQuickViewer.exe&quot; &quot;%1&quot;" Type="string" />
        </RegistryKey>
      </Component>
    </Directory>
    <Feature Id="Complete" Title="$(var.Application)" Level="1" Description="The application $(var.Application) and all used libraries">
      <ComponentRef Id="EXECUTABLE" />
      <ComponentRef Id="DefaultSetting" />
      <Feature Id="FeatureMenu" Title="Start menu Shortcuts" Level="1" Description="Adding the $(var.Application) to the Start Menu">
        <ComponentRef Id="StartMenintcuts" />
      </Feature>
      <Feature Id="FeatureOpen" Title="File Context Menu" Level="1" Description="Associate the $(var.Application) to .csv,.*.tab,*.txt and add a 'View with ...' to the Windows File Context Menu">
        <ComponentRef Id="OpenWith" />
      </Feature>
      <Feature Id="FeatureDesktop" Title="Desktop Icon" Level="1" Description="Create a Windows Desktop item for the $(var.Application).">
        <ComponentRef Id="DesktopShortcut" />
      </Feature>
    </Feature>
    <Icon Id="IconID" SourceFile="$(var.CSVQuickViewer.TargetPath)\CsvQuickViewer.exe" />
    <Property Id="ARPPRODUCTICON" Value="IconID" />
    <UIRef Id="WixUI_FeatureTree" />
    <Property Id="WIXUI_INSTALLDIR" Value="PRODUCTDIR" />
    <UI />
  </Product>
</Wix>