@page "/"
@using Microsoft.AspNetCore.Components.Forms
@using CsvTools

<h1>Hello, world!</h1>
<InputFile OnChange="@LoadFiles" multiple />

@code {
    private async Task LoadFiles(InputFileChangeEventArgs e)
    {

        using var stream = e.File.OpenReadStream();
        var inspectionResult = new InspectionResult();

        await stream.UpdateInspectionResultAsync(
                    inspectionResult,
                    false,
                    true,
                    true,
                    true,
                    true,
                    true,
                    true,
                    true,
                    true,
                    Array.Empty<char>(),
                    CancellationToken.None).ConfigureAwait(false);
    }
}
}