@page "/"
@using Microsoft.AspNetCore.Components.Forms
@using CsvTools

<p>@DateTime.Now</p>

<SfUploader></SfUploader>

<div id="wrapper" style="@(showResult ? "display:block" : "display:none")">
    <table>
        <tr>
            <td>Delimiter:</td>
            <td>@inspectionResult.FieldDelimiter</td>
        </tr>
        <tr>
            <td>Qualifier:</td>
            <td>@inspectionResult.FieldQualifier</td>
        </tr>
    </table>
</div>
@code {
    InspectionResult inspectionResult = new InspectionResult();
    bool showResult = false;

    private async void LoadFiles(InputFileChangeEventArgs e)
    {
        if (e.File.Size < 67108864)
        {
            await using var stream = e.File.OpenReadStream(67108864);
            using var memoryStream = new MemoryStream(capacity: stream.Length.ToInt());
            await stream.CopyToAsync(memoryStream);
            await memoryStream.UpdateInspectionResultAsync(
                        inspectionResult,
                        false,
                        true,
                        true,
                        true,
                        true,
                        true,
                        true,
                        true,
                        true,
                        Array.Empty<char>(),
                        CancellationToken.None).ConfigureAwait(false);

            showResult = true;
        }
    }
}
