<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:bal="http://schemas.microsoft.com/wix/BalExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <?define ProductVersion="!(bind.FileVersion.ExecutableID)" ?>
  <?define Manufacturer="Raphael Nöldner" ?>
  <?define Application="CSV Quick Viewer" ?>
  <?define ApplicationShort="CSVQuickViewer" ?>

  <Product Id="*" Name="$(var.Application) $(var.ProductVersion)" Language="1033" Version="$(var.ProductVersion)" Manufacturer="$(var.Manufacturer)"
           UpgradeCode="342F893E-A1DB-43C6-94FE-D2FED20CDEED" Codepage="utf-8">
    <Package Id="*" InstallerVersion="310" Compressed="yes" InstallScope="perUser" InstallPrivileges="limited" />
    <WixVariable Id="WixUILicenseRtf" Value="lgpl.rtf" />

    <Media Id="1" Cabinet="simple.cab" EmbedCab="yes" CompressionLevel="medium" />
    <MajorUpgrade AllowDowngrades="yes" />
    <PropertyRef Id="NETFRAMEWORK45" />
    <Condition Message="This application requires .NET Framework 4.5">
      <![CDATA[Installed OR NETFRAMEWORK45]]>
    </Condition>  
    <Directory Id="TARGETDIR" Name="SourceDir">
       <Directory Id="AppDataFolder">
        <Directory Id="AppRootDirectory" Name="$(var.ApplicationShort)">
          <Component Id="DefaultSetting" DiskId="1" Guid="DE676798-A9E3-45F5-A9C1-E44B240F54C9">
            <CreateFolder />
            <RemoveFile Id="PurgeAppFolder" Name="*.*" On="uninstall" />
            <RemoveFolder Id="RemoveAppRootDirectory" On="uninstall" />                         
            <!-- registry entry to be used as key path -->
            <RegistryValue Root="HKCU" Key="Software\$(var.ApplicationShort)\DefaultSetting" Name="installed" Type="integer" Value="1" KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
      <Directory Id="LocalAppDataFolder" Name="[AppData]">
        <Directory Id="PRODUCTDIR" Name="$(var.ApplicationShort)">
          <Component Id="EXECUTABLE" DiskId="1" Guid="DE676698-99E3-45F5-A9C1-E44B240F54C9">
            <File Id="ExecutableID" Name="CsvQuickViewer.exe" Source="$(var.CSVQuickViewer.TargetPath)" />
            <!--   
            <File Id="ClassLibraryCSV.DLL" Name="ClassLibraryCSV.dll" Source="$(var.CSVQuickViewer.TargetDir)\ClassLibraryCSV.dll" />
            <File Id="DateTimeFormats.txt" Name="DateTimeFormats.txt" Source="$(var.CSVQuickViewer.TargetDir)\DateTimeFormats.txt" />            
            <File Id="WinFormControls.DLL" Name="WinFormControls.dll" Source="$(var.CSVQuickViewer.TargetDir)\WinFormControls.dll" />
            <File Id="Ude.DLL" Name="Ude.dll" Source="$(var.CSVQuickViewer.TargetDir)\Ude.dll" />
            <File Id="NodaTime.dll" Name="NodaTime.dll" Source="$(var.CSVQuickViewer.TargetDir)\NodaTime.dll" />
            <File Id="BouncyCastle.OpenPgp.dll" Name="BouncyCastle.OpenPgp.dll" Source="$(var.CSVQuickViewer.TargetDir)\BouncyCastle.OpenPgp.dll" />
            <File Id="Pri.LongPath.dll" Name="Pri.LongPath.dll" Source="$(var.CSVQuickViewer.TargetDir)\Pri.LongPath.dll" />
            -->
            <File Id="LICENSE" Name="LICENSE" Source="$(var.CSVQuickViewer.ProjectDir)\LICENSE" />
            <File Id="README.TXT" Name="README.txt" Source="$(var.CSVQuickViewer.ProjectDir)\README.txt" />
            <RemoveFolder Id="PRODUCTDIR" On="uninstall" />
            <RegistryValue Root="HKCU" Key="Software\CsvQuickViewer.exe" Name="installed" Type="integer" Value="1" KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ProgramMenuDir" Name="$(var.Application)">
          <Component Id="StartMenintcuts" Guid="*">
            <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
            <Shortcut Id="ApplicationStartMenintcut" Name="$(var.Application)" Target="[PRODUCTDIR]CsvQuickViewer.exe" Icon="IconID" IconIndex="0" />
            <Shortcut Id="UninstallProduct" Name="Uninstall $(var.Application)" Description="Uninstalls the application" Target="[System64Folder]msiexec.exe" Arguments="/x [ProductCode]" />
            <RegistryValue Root="HKCU" Key="Software\CsvQuickViewer.exe\StartMenu" Name="installed" Type="integer" Value="1" KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
      <Directory Id="DesktopFolder">
        <Component Id="DesktopShortcut"  Guid="CB97E0FA-9BD7-43FC-BD5E-364B3713C1AF">
          <Shortcut Id="DeskShortcutID" Directory="DesktopFolder" Name="$(var.Application)" Target="[PRODUCTDIR]CsvQuickViewer.exe" Icon="IconID" IconIndex="0" />
          <!-- registry entry to be used as key path -->
          <RegistryValue Root="HKCU" Key="Software\CsvQuickViewer.exe\DesktopShortcut" Name="installed" Type="integer" Value="1" KeyPath="yes" />
        </Component>
      </Directory>
      <Component Id="OpenWith" Guid="*">
        <!-- registry entry to be used as key path -->
        <RegistryValue Root="HKCU" Key="Software\CsvQuickViewer.exe\OpenWith" Name="installed" Type="integer" Value="1" KeyPath="yes" />

        <!-- Registering File Types  -->
        <RegistryKey Root="HKCR" Key="SOFTWARE\Classes\.txt">
          <RegistryValue Key="Content Type"  Value="text/plain" Type="string" />
          <RegistryValue Key="PerceivedType"  Value="text" Type="string" />
        </RegistryKey>
        <RegistryKey Root="HKCR" Key="SOFTWARE\Classes\.text">
          <RegistryValue Key="Content Type"  Value="text/plain" Type="string" />
          <RegistryValue Key="PerceivedType"  Value="text" Type="string" />
        </RegistryKey>

        <RegistryValue Root="HKCU" Key="SOFTWARE\Classes\.tab"  Value="CsvQuickViewer.Document" Type="string" />
        <RegistryValue Root="HKCU" Key="SOFTWARE\Classes\.tab\PerceivedType"  Value="text" Type="string" />
        <RegistryValue Root="HKCU" Key="SOFTWARE\Classes\.tab\Content Type"  Value="text/tab-separated-values" Type="string" />

        <RegistryValue Root="HKCU" Key="SOFTWARE\Classes\.tsv"  Value="CsvQuickViewer.Document" Type="string" />
        <RegistryValue Root="HKCU" Key="SOFTWARE\Classes\.tsv\Content Type"  Value="text/tab-separated-values" Type="string" />
        <RegistryValue Root="HKCU" Key="SOFTWARE\Classes\.tsv\PerceivedType"  Value="text" Type="string" />

        <RegistryValue Root="HKCU" Key="SOFTWARE\Classes\.csv"  Value="CsvQuickViewer.Document" Type="string" />
        <RegistryValue Root="HKCU" Key="SOFTWARE\Classes\.csv\Content Type"  Value="text/csv" Type="string" />
        <RegistryValue Root="HKCU" Key="SOFTWARE\Classes\.csv\PerceivedType"  Value="text" Type="string" />

        <RegistryKey Root="HKCR" Key="CsvQuickViewer.Document" ForceDeleteOnUninstall="yes">
          <RegistryValue Value="Delimited Value Text File" Type="string" />
          <!-- <RegistryValue Key="Icon" Value="&quot;[PRODUCTDIR]CsvQuickViewer.exe&quot;,1" Type="string" />-->
          <RegistryValue Key="shell\Open\command" Value="&quot;[PRODUCTDIR]CsvQuickViewer.exe&quot; &quot;%1&quot;" Type="string" />
        </RegistryKey>

        <!-- support Start,Run -> "CsvQuickViewer.exe" -->
        <RegistryKey Root="HKCU" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\CsvQuickViewer.exe" ForceDeleteOnUninstall="yes">
          <RegistryValue Value="[PRODUCTDIR]CsvQuickViewer.exe" Type="string" />
        </RegistryKey>

        <RegistryKey Root="HKCR" Key="Applications\CsvQuickViewer.exe" ForceDeleteOnUninstall="yes">
          <RegistryValue Key="FriendlyAppName" Value="$(var.Application)" Type="string" />
          <RegistryValue Key="SupportedTypes" Value=".csv" Type="string" />
          <RegistryValue Key="shell\Open\command" Value="&quot;[PRODUCTDIR]CsvQuickViewer.exe&quot; &quot;%1&quot;" Type="string" />
        </RegistryKey>

        <!-- Add an 'View with ...'  -->
        <RegistryKey Root="HKCU" Key="SOFTWARE\Classes\SystemFileAssociations\text\shell\View with $(var.Application)" ForceDeleteOnUninstall="yes">
          <RegistryValue Value="View with $(var.Application)" Type="string" />
          <RegistryValue Key="command" Value="&quot;[PRODUCTDIR]CsvQuickViewer.exe&quot; &quot;%1&quot;" Type="string" />
        </RegistryKey>
      </Component>
    </Directory>
    <Feature Id="Complete" Title="$(var.Application)" Level="1" Description="The application $(var.Application) and all used libraries">
      <ComponentRef Id="EXECUTABLE" />      
      <ComponentRef Id="DefaultSetting" />
      <Feature Id="FeatureMenu" Title="Startmenu Shortcuts" Level="1" Description="Adding the $(var.Application) to the Start Menu">
        <ComponentRef Id="StartMenintcuts" />
      </Feature>
      <Feature Id="FeatureOpen" Title="File Context Menu" Level="1" Description="Associate the $(var.Application) to .csv,.*.tab,*.txt and add a View with ... to the Windows File Context Menu">
        <ComponentRef Id="OpenWith" />
      </Feature>
      <Feature Id="FeatureDesktop" Title="Desktop Icon" Level="1" Description="Create a Windwos Desptop item for the $(var.Application).">
        <ComponentRef Id="DesktopShortcut" />
      </Feature>
    </Feature>
    <Icon Id="IconID" SourceFile="$(var.CSVQuickViewer.TargetPath)" />
    <Property Id="ARPPRODUCTICON" Value="IconID" />
    <UIRef Id="WixUI_FeatureTree" />
    <Property Id="WIXUI_INSTALLDIR" Value="PRODUCTDIR" />
    <UI />
  </Product>
</Wix>